html {
  scroll-behavior: smooth;
}

nav {
  .container {
    .navbar-brand {
      font-family: 'Satisfy', cursive;
      font-size: 28px;
    }
  }
}

.jumbotron {
  .container {
    h1 {
      font-family: 'Rampart One', cursive;
      font-size: 60px;
    }
  }
}

#about {
  margin-top: -100px;
  padding-top: 100px;
}
#portfolio {
  // margin-top: -100px;
  padding-top: 100px;
  // background-color: aqua !important;
}
#contact {
  margin-top: -50px;
  padding-top: 100px;
}

@media (max-width: 992px) {
  nav {
    .container {
      .navbar-brand {
        font-size: 20px;
      }
    }
  }
  .jumbotron {
    .container {
      h1 {
        font-size: 20px;
      }
    }
  }
}